@charset 'utf-8';

html {
  font-family: "Noto Sans Kr", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.navigation {
  height: 44px;
}

.local-navigation {
  border-bottom: 1px solid #ddd;
  height: 52px;
}

.local-navigation__links,
.navigation__links {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation__links {
  justify-content: space-between;
}

.local-navigation__links__product-name {
  margin-right: auto;
  font-size: 1.6em;
  font-weight: bold;
}

/* :not(class): select exclude class */
.local-navigation__links a:not(.local-navigation__links__product-name) {
  margin-left: 2em;
  font-size: 0.8em
}
